<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788312756741-8pd1a62k8ik7uj5jusebs6ue03888dsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788312756741-8pd1a62k8ik7uj5jusebs6ue03888dsg</string>
	<key>API_KEY</key>
	<string>AIzaSyAymTJrREBYa73qCjEw0vMmWxKy9f1Ayx0</string>
	<key>GCM_SENDER_ID</key>
	<string>788312756741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.localFoodie</string>
	<key>PROJECT_ID</key>
	<string>localfoodie-fbd5b</string>
	<key>STORAGE_BUCKET</key>
	<string>localfoodie-fbd5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788312756741:ios:ca623b8829b5dd50f0826c</string>
</dict>
</plist>